body {
  margin: 0;
  padding: 0;
}


/* navbar styles */
.header {
  background-color:#F4792A;
  overflow: hidden;
}

.header a:hover {
  background-color: #ddd;
  color: #1C2331;
}

a :hover{
  background-color:#9F9F9F;
}

.header img {
  padding: 14px 16px;
  width:90px;
  height:70px;
}

.header h3 {
  text-align: right;
  margin-top: 0%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    margin-top: 30px;
    margin-right: 20px;
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Home background */
.main-body {
  background-color: #FAF4E8;
  padding-top: 10px;
  height: 80%;
}

.main-body-text {
  text-align: center;
  padding-bottom: 30px;
}

.footer {
  padding-top: 10px;
  padding-bottom: 10px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #1C2331;
  color: white;
  text-align: center;
}

/* Authentication styles */
.authenticate-box {
  align-items: center;

  font-size: 15px;
  text-align: center;
  background: #ffffff;
  padding: 8px;
  margin-top: 10px;
  margin-left: 35%;
  width: 25%;
  box-shadow: 2px 2px #ccc;
  border-radius:8px;
}
.authenticate-box input[type=text], .authenticate-box input[type=email]{
  width:80%;
  padding: 7px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin:10px;
}
.authenticate-box input[type=submit]{
  width:80%;
  padding: 7px;
  border-radius: 5px;
  border: 1px solid #333300;
  background: #1C2331;
  color:#ffffff;
}

.authenticate  input[type="submit"]:hover{
  background-color: #194d00;
}

.authenticate-box h2 {
font-weight: normal;
}
.authenticate-box .register {
  display: block;
  margin:30px 0;
}
.authenticate-box .register a{
  text-decoration: none;
  color:#333300;

}

.parcel-section {
  background:#ffffff;
  padding:20px;
  border-radius:5px 5px 0 0;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  border-top: 2px solid #4B1E00;
  border-left: none;
  margin: 0px 200px 0px 200px;
  font-weight: normal;
  }

.parcel-section a{
  text-decoration: none;
  width: 20%;
}

.parcel-section input[type=text], .parcel-section input[type=email]{
  border-radius: 5px;
  border: 1px solid #1C2331;
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
}

textarea {
    width: 100%;
    height: 80px;
}
/* input[type="text"], input[type="password"], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
} */

span {
  color: #F4792A;
}
#main {
  width: 90%;
  margin: 40px auto;
  overflow: hidden;
  /* background:#ddd;
      overflow:hidden;
      padding:50px; */
    /* width: 500px; */
    /* height: 300px; */
    display: -webkit-flex;
    -webkit-align-items: center;
    display: flex;
    align-items: center;
}
/*
#main div {
   -webkit-flex: 1;
    flex: 1;
} */

#main img{
  /* margin-left: 5px; */
  /* width: 300px; */
  border: 1px solid #efefef;
  border-radius: 24px;
}

#main form {
width: 400px;
}

.left-card {
height: 500px;
width: 300px;
margin: auto;
padding: 5px 20px;
text-align: center;
/* box-shadow: 0 2px 2px #0000004d; */
/* border: 1px solid #ccc; */
 /* width: 30%; */
/* height: 500px; */
/* padding: 15px; */
font-size: 15px;
/* text-align: center;  */
  /* margin-left: 40px; */
}
.right-card {
  /* height: 500px; */
  /* padding-bottom: 20PX; */
  /* width: 1200px; */
  /* margin: auto; */
  /* padding: 15px; */
  /* text-align: center; */
/* width: 600px; */
}

label {

    padding: 16px 0 4px;
    display: block;
    font-size: 14px;
}

button {
  background-color: #1C2331;
    border-radius: 10px;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button :hover{
  background-color: #194d00;
}

table {
  width: 100%;
}
#orders td, #orders th {
    border: 1px solid #ddd;
    padding: 8px;
}

#orders tr:nth-child(even){background-color: #f2f2f2;}

#orders th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #F4792A;
    color: white;
}

tab-switch:target + .tab-link + .tab-content {
    display: block;
}
.tab-content {
    background-color: white;
    padding: 35px;
    font-size: 13px;
}
.tab-content {
    box-sizing: border-box;
    float: right;
    display: none;
    width: 100%;
}
